:root{

  /* Colors */
  --white: #FFFF;
  --black: #0000;
  --blue: #0065FC;
  --blue_light: #DEEBFF;
  --grey: #F2F2F2;
  --button_color: #eeeeee;

  /* Size */
  --H2_size: 22px;
  --H3_size: 18px;
  --H4_size: 17px;
  }




