@import url(/css/main.css);    

/* Index 
1 | Global
   1.1 | Général

2 | Version Ordinateur
   2.1 | HEADER
   2.2 | SECTION : Recherche
   2.3 | SECTION : Résultats hébergement
      2.3.1 | ARTICLE : Résultats hébergement à Marseille
      2.3.2 | ARTICLE : Résultats les plus populaires
   2.4 | SECTION : Résultats activités à Marseille
   2.5 | FOOTER
   
3 | MEDIA QUERIES
   3.1 | Version Tablette
   3.2 | Version Mobile
*/


/* ====================== 1 | Global ====================== */
/* ----------- 1.1 | Général ----------- */
* {
    /* border-box permet d'inclure le remplissage et la bordure dans la taille (width et height) de l'élément */
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
    font-family: 'Raleway', 'sans serif';
 }
 
 a {
    color: rgb(10, 10, 10);
        text-decoration:none;
 }


 /* ====================== 2 | Version Ordinateur ====================== */

 /* ----------- 2.1 | HEADER ----------- */
 header{
    display: flex;
        justify-content: space-between ;
 }

 header img {
    width: 61.09px;
        height: 19px;
            margin: 30px 0px 30px 0px;
 }

 nav ul{
    display: flex;
        list-style: none;
            align-items: center;
 }

 .menu_espace_li_gauche{
    margin-right: 68px;
 }

ul li a:hover{
    color: var(--blue);
        border-top: 2px solid var(--blue);
            padding-top: 12px;
}

/* ----------- 2.2 | SECTION : Recherche ----------- */

/* Titre et paragraphe section recherche */
.section_recherche h2{
    font-size: var(--H2_size);
        font-weight: 700;
            margin-bottom: 0px;
}

.section_recherche p {
    margin-top: 5px;
}

/* Barre de recherche */
form{
    display: flex;
        flex-direction: column;
}

.recherche{
    display: flex;
        margin-top: 15px;
            margin-bottom: 26px;
}

#recherche-barre{
    font-weight: bold;
        border: 1px solid var(--grey);
            border-right: none;
                padding: 10px;
                    height: 40px;
                        outline: none;
}

.fa-map-marker-alt{
    box-sizing: border-box;
        font-size: 15px;
            background-color: var(--grey);
                border-radius: 15px 0 0 15px;
                    width: 40px;
                        height: 40px;
                            padding: 13px;                            
}

.recherche button {
    width: 130px;
        height: 40px;
            border: 1px solid var(--blue);
                background: var(--blue);
                    border-radius: 0 15px 15px 0;
                        cursor: pointer;
 }

 .bouton1{
    display: block;
        font-weight: bold;
            color: var(--button_color);
                margin: 6%;
 }

 .bouton2 {
    display: none;
        visibility: hidden;
 }

 /* Filtres */

 .filtre{
    display: flex;
        margin-top: 10px;
            align-items: center;
                flex-wrap: wrap;             
 }

 .filtre p {
    display: flex;
    font-weight: bold;
        margin: auto 18px auto 0px ;  
 }

 .filtre-item{
    font-weight: bold;
        background-color: var(--white);
            border: 2px solid var(--grey);
                border-radius: 20px;
                    margin-right: 15px;
                        padding: 0 19px 0 0;
                            cursor: pointer;
 }

 .filtre-item:hover {
    background-color: var(--blue_light);
        border-color: var(--blue);
            color: black;
                box-shadow: 10px 10px 10px #dad8d8;
 }

 .filtre-item i{
    font-size: 18px;
        color: var(--blue);
            border-radius: 50%;
                margin-left: 5px;
                    padding: 15px;
                        margin-right: -8px;
 }

 /* Info */
 .info{
    margin-top: 28px;
 }
 .fa-info {
    font-size: 16px;
    color: #0065FC;
    border: 2px solid var(--grey);
    text-align: center;
    padding-top: 0.8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
 }
 
  
  






.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--grey)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}